<%-include('includes/header-influencer')%> 

            <!-- Typography Start -->
            <link href="/activecapm.css" rel="stylesheet">


            <!-- Typography End -->


            <section class="light">
                <div class="container py-2">
                 
                    <%if(campaigns.length){ %>
                     
        <% campaigns.forEach(function(campaign){ %>


                    <article class="postcard light blue">
                      
                            <img class="postcard__img" src="https://images.unsplash.com/photo-1508599589920-14cfa1c1fe4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YnJhbmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="Image Title" />
                        </a>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title blue"> <%=campaign.campaignName %> </h1>
                            <div class="postcard__subtitle small">
                                <h6> NIKE</h6>
                            
                            </div>
                          
                            <div class="postcard__bar"></div>
                            <h6>Start date : <%= campaign.startDate.getDate()%>/<%= campaign.startDate.getMonth() + 1%>/<%= campaign.startDate.getFullYear()%></h6>
                            <h6>End date : <%= campaign.EndDate.getDate()%>/<%= campaign.EndDate.getMonth() + 1%>/<%= campaign.EndDate.getFullYear()%></h6>
                            <!-- <div class="postcard__preview-txt">description !description !description !description !description !description !description !description !description !description !</div> -->
                           <a href="/raise-ticket-form/<%=campaign._id%>" class="card__link"><h6> <u>Raise ticket </u></h6></a>
                 </li>
                            </ul>
                        </div>
                    </article>

                    <% }) %>  
      
                <% } else{ %>
                <p>There are no campaigns yet</p>
                <% } %>
    

                </div>
            </section>