
<%-include('includes/sidebar')%>
<%- include('includes/flash') %>
  
 <!-- Blank Start -->
 <div class="container-fluid pt-2 px-2">
                
  <!-- Form Start -->
 
  <div class="container-fluid pt-1 px-1">
      <div class="bg-light rounded-top p-3">
  <form class="row g-3" action="/answer-ticket/<%=ticket._id%>" method = "POST">
      <div class="col-md-6">
          <!--as the manager click on reply button all the information of influencer will be pre written on this page-->
        <label for="inputEmail4" class="form-label">Influencer Name</label>
        <input disabled type="text" class="form-control" id="inputEmail4" value="<%=ticket.influencerUsername %>">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label" >Ticket Raised For</label>
       <!--I am writing here the information wrote by influencer will be displayed-->
        <input disabled type="text" class="form-control" id="inputPassword4" value="<%=ticket.cName%>">
      </div>
        <!--Here will be displayed the subkect what was displayed initial at dashboard! -->
        <div class="col-12">
          <label for="exampleFormControlTextarea1" class="form-label">Question</label>
          <div disabled type="text" class="form-control" id="exampleFormControlTextarea1" >
             <%=ticket.ticketTitle%>
          </div>
        </div>
      <div class="col-12">
          <label for="exampleFormControlTextarea1">Description</label>
          <!--decription will be wrote in here by influencer! manager can read it but cannot edit it-->
          <div disabled class="form-control" id="exampleFormControlTextarea1" >
            <%=ticket.ticketBody%>
             
          </div> 
      </div>
      <div class="col-md-6">
        <div id="wrapperDiv">
        <!--here will be the files what influencer has attached so manager can choose what files to be downloaded-->
        <!-- <div class="accordion-item" style="padding:10px;float:left"> -->
          <div class="card" style="width: 18rem;">
           <img src="data:image/<%=ticket.contentType%>;base64,<%=ticket.imageBase64%>" class="card-img-top" alt="...">
          </div>
           
  
        </div>
    </div>
          <div class="col-12">
              <label for="exampleFormControlTextarea1" style="display: flex;
              justify-content: flex-start;
              padding-left: 1rem;">Answer</label>
              <!--decription will be wrote in here by influencer! manager can read it but cannot edit it-->
              <textarea name="reply" class="form-control" id="exampleFormControlTextarea1" rows="4" placeholder="Write your respone here" style="padding-left: 1rem;"></textarea>
          <div class="s-btn" style="display: flex;
          justify-content: flex-end;
          padding-top: 1rem;">
          


              <button  class="btn btn-primary  float-right " >Answer Ticket</button>
          </div>
      
          </div>  
</form>

      </div>  
        
  </div> 


</div>     
 
   
  <!-- Blank End -->


  <!-- Footer Start -->
  <div class="container-fluid pt-4 px-4">
      <div class="bg-light rounded-top p-4">
          <div class="row">
              <div class="col-12 col-sm-6 text-center text-sm-start">
                  &copy; <a href="#">The Crazy Entrepreneur</a>, All Right Reserved. 
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->
</div>
<!-- Content End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/chart/chart.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>


